SECRET_KEY=cambia-esta-clave-en-produccion
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost

# Si estas variables existen, Django usa PostgreSQL.
# Si no existen, usa SQLite para desarrollo rapido.
POSTGRES_DB=garantias_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
